.App {
  max-width: 60%;
  margin: auto;
  background-color: azure;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
}

.nav-items li {
  margin: 0 10px;
  padding: 0 10px;
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 90px;
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}